
#footer-section .overlay{
  position: relative;
  background-image: url(../assets/Images/footer-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 5%;
}

#footer-section .overlay .section-header {
  margin-bottom: -8px;
}
#footer-section .section-header .title{
  color: rgb(255, 255, 255);
  font-weight: 500;
}


#footer-section .bottom-area {
  padding-bottom: 30px;
}
#footer-section .bottom-area ul li{
  margin-left: 47px;
}
#footer-section .footer-bottom .main-content {
  padding: 22px 0;
}
#footer-section .footer-bottom .main-content .left-area p a{
  color: #a50a82;
}

@media (min-width: 576px) {
  .col-sm-4 {
      flex: 0 0 auto;
      width: 21.333333%;
  }
}
@media (max-width: 767px) {
  #footer-section .overlay .section-header .cmn-btn {
    margin-top: 35px;
}

}