
/* banner-section */
#banner-section {
  position: relative;
  padding-top: 170px;
  background-image: url(../assets/Images/banner-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#banner-section .banner-content{
  position: relative;
}
#banner-section .banner-content .main-content{
  position: relative;
}
#banner-section .banner-content .main-content .item{
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 38px;
  padding: 17px 28px;
}
#banner-section .banner-content .main-content .item img{
  margin-right: 15px;
  width: 40px;
}
#banner-section .banner-content .main-content .item h5{
  color: rgb(49, 21, 103);
  font-weight: 500;
}
#banner-section .banner-content .main-content .item.one{
  top: 20%;
  left: 70px;
}
#banner-section .banner-content .main-content .item.two{
  bottom: 25%;
  box-shadow: 2.3px 21.879px 79px 0px rgba(219, 210, 255, 0.80);
}
#banner-section .banner-content .main-content .item.three{
  top: 20%;
  right: 50px;
}
#banner-section .banner-content .main-content .item.four{
  bottom: 25%;
  right: -20px;
  box-shadow: 2.3px 21.879px 79px 0px rgba(219, 210, 255, 0.80);
}
#banner-section .text-area h5{
  font-size: 18px;
  color: #8C3A32;
  line-height: 1.556;
}
#banner-section .text-area h2{
  font-size: 78px;
  color: rgb(49, 21, 103);
  font-family: 'GlacialIndifference';
  font-weight: 800;
  line-height: 88px;
  margin: 0 0 40px 0;
}
#banner-section .text-area h2 span{
  color: #8C3A32;
  font-weight: 800;
  font-family: 'GlacialIndifference';
  font-size: inherit;
}
#banner-section .text-area .btn-area .cmn-btn{
  margin-right: 30px;
}
#banner-section .text-area .btn-area .cmn-btn-second{
  color: rgb(49, 21, 103);
  text-transform: uppercase;
}
#banner-section .text-area .btn-area .cmn-btn-second .btn-icon{
  background-color: #311567;
}
#banner-section .text-area .btn-area .cmn-btn-second .btn-icon::before{
  border-color: #311567;
}
#banner-section .right-area{
  position: relative;
}
#banner-section .right-area .download-area img {
  margin-left: 10px;
}
#banner-section .right-area .download-area {
  display: contents;
}
#banner-section .right-area .download{
  font-size: 20px;
  font-weight: 500;
  padding: 12px 25px;
  color: rgb(29, 12, 64);
  line-height: 1.4;
  border-radius: 35px;
  background-color:  rgb(255, 255, 255);
  box-shadow: 1.463px 13.923px 57px 0px rgba(247, 6, 115, 0.35);
  transform: translateY(-110px);
}
