#banner-section {
  position: relative;
  padding-top: 0 px;
  background-image: url(/public/banner-bg.png);
  background-size: 100% 128%;
  background-repeat: no-repeat;
}

/* @media (max-width: 767px) {
  #banner-section {
    background-size: 150% 100%;
  }
} */

@media (max-width: 767px) {
  #banner-section {
    padding-top: 130px;
  }
}

@media (max-width: 991px) {
  #banner-section {
    padding-top: 200px;
    background-size: 140% 65%;
  }
}

#banner-section .banner-content {
  position: relative;
  top: 150px;
  margin-top: -110px;
}

@media (max-width: 575px) {
  #banner-section {
    background-size: 143% 88%;
    top: -108px;
  }
}

@media (max-width: 575px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .pb-120 {
    padding-bottom: 60px;
  }
}

#banner-section .banner-content .main-content {
  position: relative;
}

#banner-section .banner-content .main-content .item.one {
  top: 25%;
  left: 170px;
}

@media (max-width: 991px) {
  #banner-section .banner-content .main-content .item {
    display: none;
  }
}

#banner-section .banner-content .main-content .item {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 38px;
  padding: 17px 28px;
}

#banner-section .banner-content .main-content .item img {
  margin-right: 15px;
  width: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

#banner-section .banner-content .main-content .item h5 {
  color: rgb(49, 21, 103);
  font-weight: 500;
}

@media (max-width: 576px) {
  h5,
  h5 > a {
    font-size: 15px;
    line-height: 25px;
  }
}

h5,
h5 > a {
  font-size: 18px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#banner-section .banner-content .main-content .item.two {
  bottom: 20%;
  left: 80px;
  box-shadow: 2.3px 21.879px 79px 0px rgb(219 210 255 / 80%);
}

#banner-section .banner-content .main-content .item.three {
  top: 25%;
  right: 150px;
}

#banner-section .banner-content .main-content .item.four {
  bottom: 20%;
  right: 65px;
  box-shadow: 2.3px 21.879px 79px 0px rgb(219 210 255 / 80%);
}

@media (min-width: 992px) {
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

#banner-section .right-area {
  position: relative;
}

@media (min-width: 991px) and (max-width: 1449.98px) {
  #banner-section .right-area .right-img {
    width: 80% !important;
  }
}

#banner-section .right-area .download-area {
  display: contents;
}

#banner-section .right-area .download {
  font-size: 20px;
  font-weight: 500;
  padding: 12px 25px;
  color: rgb(29, 12, 64);
  line-height: 1.4;
  border-radius: 35px;
  background-color: var(--body-color);
  box-shadow: 1.463px 13.923px 57px 0px rgb(247 6 115 / 35%);
  transform: translateY(-110px);
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
}

a {
  display: inline-block;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

#banner-section .right-area .download-area img {
  margin-left: 10px;
}

#banner-section .text-area h5 {
  font-size: 18px;
  color: #8c3a32;
  line-height: 1.556;
}

#banner-section .text-area h2 {
  font-size: 78px;
  color: rgb(49, 21, 103);
  font-family: "GlacialIndifference";
  font-weight: 800;
  line-height: 88px;
  margin: 0 0 40px 0;
}

#banner-section .text-area h2 span {
  color: #8c3a32;
  font-weight: 800;
  font-family: "GlacialIndifference";
  font-size: inherit;
}

span {
  display: inline-block;
}

#banner-section .text-area .btn-area .cmn-btn {
  margin-right: 30px;
}

.cmn-btn {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-image: linear-gradient(
    45deg,
    rgb(247, 112, 98) 0%,
    rgb(254, 81, 150) 100%
  );
  border-radius: 50px;
  padding: 12px 30px;
  z-index: 1;
  overflow: hidden;
  transition: 0.35s ease;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
}

a {
  display: inline-block;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

#banner-section .text-area .btn-area .cmn-btn-second {
  color: rgb(49, 21, 103);
  text-transform: uppercase;
}

.cmn-btn-second {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
}

.btn-icon:hover {
  width: 60px;
  transition: all ease 1s;
}

#banner-section .text-area .btn-area .cmn-btn-second .btn-icon {
  background-color: #311567;
}

.btn-icon {
  position: relative;
  content: "";
  background-color: white;
  top: -5px;
  left: 5px;
  height: 1px;
  width: 40px;
  display: inline-block;
  transition: all 0.7s;
}

p,
span,
li {
  margin: 0;
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 400;
  color: rgb(71 47 125);
  line-height: 1.556;
}

@media (max-width: 991px) {
  #banner-section .banner-content .main-content .item {
    display: none;
  }
}

@media (max-width: 991px) {
  #banner-section .banner-content .main-content {
    margin-top: -300px;
  }
}

.right-img {
  margin-top: -111px !important;
}

@media (max-width: 991px) {
  .right-img {
    margin-top: 30px !important;
  }
}

.btn-icon {
  position: relative;
  content: "";
  background-color: white;
  top: -5px;
  left: 5px;
  height: 1px;
  width: 40px;
  display: inline-block;
  transition: all 0.7s;
}

#banner-section .text-area .btn-area .cmn-btn-second .btn-icon::before {
  border-color: #311567;
}

.cmn-btn-second {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
