#testimonials .left-area {
  position: relative;
  background-image: url(/public/testimonials-slider-bg.png);
  background-repeat: no-repeat;
  background-size: 80% 96%;
}

.left-area img {
  transform: translate(45px, -60px);
}
.left-area img {
  transition: all 0.8s;
  padding: 35px 0 0 50px;
  transform: translate(59px, -84px);
  padding-top: 115px;
}

img {
  max-width: 100%;
  height: auto;
}

.righthead {
  color: #5a3e8e;
}

@media (max-width: 991px) {
  #testimonials .left-area {
    margin-top: 86px;
    margin-right: -350px;
    margin-bottom: 1260px;
    font-size: 63px;
    position: relative;
    background-size: 106% 96%;
    transform: translate(-10px, -86px);
  }
}

@media (max-width: 991px) {
  #testimonials .left-area img {
    transform: translate(25px, -76px);
  }
}

@media (max-width: 991px) {
  #testimonials .righthead {
    margin-top: 600px;
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  #testimonials .byron {
    margin-top: -0px;
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  #testimonials .sgv {
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .lrom {
    font-size: 38px !important;
  }
}

.lrom {
  font-size: 20px;
}
