
#worked-with{
    padding-top: 56px;
    padding-bottom: 58px;
    background-image: url(../assets/Images/brand-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#worked-with .main-content{
    font-size: 36px;
    color: rgb(254, 254, 255);
    line-height: 1.278;
}
#worked-with .main-content h2{
    margin-bottom: 48px;
}
#worked-with .slide{
    text-align: center;
    padding: 15px 15px;
}
#worked-with .slide {
    display: initial;
}
#worked-with .slide{
    margin: auto;
}
#worked-with .slide {
    margin:0 -15px;
}
#worked-with .slide {
    border: 1px solid #8153de;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
}


#worked-with {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    position: absolute;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }