
@media (max-width: 991px) {
    .section-title{
        font-size: 40px;
    }
}
@media (max-width: 575px) {
    .sub-title,
    .sub-title-alt{
        font-size: 12px;
    }
}
.section-title span{
    color: #007bff;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
}
.shadow-none {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mb-30-none{
    margin-bottom: -30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.pt-120 {
    padding-top: 120px;
}
@media (max-width: 991px) {
    .pt-120 {
        padding-top: 60px;
    }
}
@media (max-width: 575px) {
    .pt-120 {
        padding-top: 50px;
    }
}
.pb-120 {
    padding-bottom: 120px;
}
@media (max-width: 991px) {
    .pb-120 {
        padding-bottom: 60px;
    }
}
@media (max-width: 575px) {
    .pb-120 {
        padding-bottom: 50px;
    }
}
body::-webkit-scrollbar {
    width: 4px;
}
body::-webkit-scrollbar-track {
    background: transparent; 
}
body::-webkit-scrollbar-thumb {
    background: #3a395e; 
}
body::-webkit-scrollbar-thumb:hover {
    background: #3a395e; 
}
@media (max-width: 991px) {
    .header-section .header-top {
        display: block;
    }
}
@media (max-width: 991px) {
    .navbar-collapse {
        max-height: 320px;
        overflow: auto;
    }
}
.navbar-collapse .main-menu .menu_has_children.show .sub-menu {
    display: grid;
}
@media (max-width: 991px) {
    .menu_has_children .sub-menu {
        display: none !important;
    }
    .menu_has_children .sub-menu li {
        width: 100% ;
    }
    .navbar-collapse .main-menu .menu_has_children.show .sub-menu {
        display: inline-flex !important;
        flex-wrap: wrap;
        margin-left: 20px;
    }
}
.navbar-collapse .main-menu li:last-child .sub-menu {
    left: auto;
    right: 0;
}
.navbar-collapse .main-menu .cart span{
    background-color: rgba(183, 165, 255, 0.2);
    color: #fff;
    padding: 0 20px;
    border-radius: 15px;
    margin-left: 5px;
}
.navbar-collapse .main-menu .cart-area {
    top: 40px;
}
.navbar-collapse .main-menu .cart-area button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    font-weight: 500;
}
.navbar-collapse .main-menu li {
    position: relative;
}
.navbar-collapse .main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.navbar-collapse .main-menu li.menu_has_children {
    position: relative;
}
.navbar-collapse .main-menu li.menu_has_children i {
    font-size: 18px;
    margin-left: 5px;
}
@media (max-width: 991px) {
    .navbar-collapse .main-menu li.menu_has_children::before {
        top: 12px;
       right: 15px;
    }
}
.navbar-collapse .main-menu li a {
    padding: 40px 25px;
    font-weight: 800;
    font-family: var(--body-font);
    font-size: 18px;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .navbar-collapse .main-menu li a {
        padding: 10px 8px;
        display: block;
    }
    .navbar-expand-lg {
        float: right;
        width: 100%;
    }
}
.navbar-collapse .main-menu li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 9;
}
.navbar-collapse .main-menu li .sub-menu li a {
    color: rgb(59, 54, 140) !important;
    padding: 15px 20px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.navbar-collapse .main-menu li .sub-menu li a:hover {
    color: var(--body-color) !important;
    border-radius: 0 !important;
}
.nav-area{
    display: contents;
    justify-content: space-between;
    z-index: 100;
}
@media (max-width: 991px) {
    .navbar-collapse .main-menu li .sub-menu {
        position: initial;
        opacity: 1;
        visibility: visible;
        display: none;
        -webkit-transition: none;
        transition: none;
    }
}
.menu-toggle {
    margin: 15px 0;
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.menu-toggle.is-active {
    border-color: transparent;
}
.menu-toggle::before, .menu-toggle::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition:  0.25s ease-in-out;
    -webkit-transition:  0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out,  0.25s ease-in-out;
}
.menu-toggle.is-active::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu-toggle.is-active::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.navbar-toggler {
    padding-right: 0;
    display: none;
}
.toggle-btn{
    padding: 8px 12px;
    background-color:#007bff;
    color:#ffffff;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
}
.header-section .header-bottom {
    padding: 10px 10px;
}
@media (max-width: 991px) {
    .navbar-toggler{
        display: inline-flex;
        justify-content: flex-end;
    }
    .navbar-light .navbar-toggler {
        position: absolute;
        right: 14%;
        margin-top: 5px;
        border: none;
    }
    #header-section .right-area {
        position: absolute;
        right: 20%;
        top: 20px;
    }
    .header-area{
        position: relative;
        padding: 15px 0;
    }
    #header-section .navbar .navbar-brand img{
        max-width: initial;
    }
    #header-section .navbar .navbar-brand {
        margin-top: -5px;
        width: 35%;
    }
    .navbar-collapse .main-menu {
        padding-top: 30px;
    }
    #header-section .navbar .navbar-bottom{
        padding: 20px 0;
    }
    #header-section .navbar .navbar-top {
        justify-content: center !important;
    }
    #header-section {
        background-color: #5c2cc5 !important;
    }
    #header-section .overlay .navbar-toggler i{
        color:rgb(255, 255, 255);
    }
    #header-section .navbar .navbar-nav .menu_has_children::after {
        transform: translateX(70px);
        left: 0;
    }
    
}
@media (max-width: 800px) {
    .navbar-light .navbar-toggler {
        right: 4%;
    }
}
@media (max-width: 440px) {
    #header-section .navbar .navbar-top .language-select-list img{
        display: none;
    }
    #header-section .navbar .navbar-top a {
        margin: 0 6px !important;
        font-size: 12px;
    }
    #header-section .navbar .navbar-top .language-select-list {
        margin: 0 !important;
    }
    #header-section .navbar .nice-select .option,
    #header-section .navbar .nice-select.select-bar .current{
        font-size: 12px;
    }
    #header-section .navbar .navbar-brand img {
        max-width: initial;
        width: 115px;
    }
    .navbar-light .navbar-toggler{
        margin-top: 0;
    }
    #header-section .navbar .navbar-collapse .navbar-nav {
        padding-right: 0;
    }
}
.scrollToTop {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(45deg, rgb(247,112,98) 0%, rgb(254,81,150) 100%);
    border-radius: 5px;
    color: #fff;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    z-index: 9;
    cursor: pointer;
    transition: all 1s;
    transform: translateY(100%);
}
.scrollToTop.active {
    bottom: 30px;
    transform: translateY(0%);
    color: #fff;
}
.scrollToTop:hover{
    color: #fff;
}

  #header-section.header-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        background-color: #5c2cc5;
        box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 30%);
    }
    #header-section.header-fixed .header-top,
    #header-section.header-fixed .header-middle {
        display: none !important;
    }
    #header-section.header-fixed .header-bottom {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    }
    #header-section .header-top {
        padding: 20px 0;
    }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      -ms-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      -ms-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  @keyframes zoomInOut {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
}

/* cmn btn */
.cmn-btn {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    background-image: linear-gradient( 45deg, rgb(247,112,98) 0%, rgb(254,81,150) 100%);
    border-radius: 50px;
    padding: 12px 30px;
    z-index: 1;
    overflow: hidden;
    transition: 0.35s ease;
}
.cmn-btn:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 26px 38px 0px rgba(254, 81, 149, 0.3);
    background-image: linear-gradient( 45deg, rgb(254,81,150) 0%, rgb(247,112,98) 100%);
}

/* cmn btn second */
.btn-icon {
    position: relative;
    content: '';
    background-color: white;
    top: -5px;
    left: 5px;
    height: 1px;
    width: 40px;
    display: inline-block;
    transition: all 0.7s;
}
.btn-icon::before{
    position: absolute;
    content: '';
    top: -4px;
    width: 10px;
    height: 10px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: white;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    right: 1px;
    transition: all ease 0.3s;
}
.cmn-btn-second:hover .btn-icon::before{
    border-color: #ea43ad;
}
.cmn-btn-second{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.cmn-btn-second:hover .btn-icon {
    width: 60px;
    background-color: #ea43ad;
}


/* Responsiveness  Area */

@media (min-width: 991px) and (max-width: 1449.98px) {
    #banner-section .right-area .right-img {
        width: 100% !important;
    }
    #banner-section .text-right {
        text-align: center !important;
    }
    #now-your-turn .right-area {
        right: 0;
    }
    #footer-section .overlay{
        margin: 0 2%;
    }
}
@media (min-width: 992px) {
    #header-section .navbar .navbar-nav li .cart-menu button {
        right: -25px;
    }
}

@media (min-width: 1449px) {
    #banner-bottom .left-area {
        transform: translateY(-350px);
    }
}

@media (min-width: 1200px) and (max-width: 1324.98px) { 
    #banner-bottom .left-area {
        transform: translateY(-200px);
    }
    #now-your-turn .right-area {
        right: -2%;
        top: -5%;
    }
}

@media(max-width: 1199px) {
    h2{
        font-size: 24px;
        line-height: 34px;
    }
    h3{
        font-size: 18px;
        line-height: 28px;
    }
    #specilizing-section .single-item {
        padding: 40px 18px 47px;
    }
    #now-your-turn .right-area {
        right: -14%;
        top: 20%;
    }
    #now-your-turn .right-area img{
        max-width: 80%;
    }
    #my-story-section .social {
        bottom: 95px;
    }
    #testimonials .slick-active .left-area img {
        transform: translate(0, -60px);
    }
    #my-story-section .right-area .user {
        transform: translate(-120px, 60px);
    }
    #my-story-section.pt-120{
        padding-top: 0;
    }
    #banner-bottom.portfolio-details .single-item::after {
        right: -45px;
    }
    .navbar-collapse .main-menu li a {
        padding: 40px 20px;
    }
    #banner-product-bottom.product-single .left-area .single-item {
        margin-right: 12px;
        padding-right: 12px;
    }
    #banner-product-bottom.product-single .left-area .single-item img{
        margin-right: 0;
    }
    
}

@media (max-width: 991px) {
    h1, h1>a {
        font-size: 26px;
        line-height: 36px;
    }
    h2{
        font-size: 22px;
        line-height: 32px;
    }
    h3{
        font-size: 18px;
        line-height: 28px;
    }
    p,span,li{
        font-size: 16px;
        line-height: 26px;
    }
    input,textarea{
        font-size: 16px;
        line-height: 26px;
    }
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .navbar-collapse .main-menu .cart-area {
        top: 0;
    }
    #header-section .navbar .navbar-nav .dropdown{
        display: grid;
    }
    #banner-section .right-area {
        margin-top: 30px;
    }
    #banner-section .text-area h2 {
        font-size: 60px;
        line-height: 70px;
    }
    #banner-section .banner-content .text-right {
        text-align: center !important;
    }
    .cmn-btn{
        font-size: 14px;
        line-height: 24px;
    }
    .cmn-btn-second {
        font-size: 14px;
        line-height: 24px;
    }
    #header-section .navbar .navbar-nav .cart-area .cart-menu.show {
        left: 0;
        transform: translateY(0px);
    }
    #banner-section .banner-content .main-content .item{
        display: none;
    }
    .navbar-collapse .main-menu .cart-area button {
        margin: 5px 0;
    }
    #banner-section.inner-banner.cart{
        padding-bottom: 70px !important;
    }
    #banner-section .text-area h3 {
        font-size: 18px;
        line-height: 28px;
    }
    #banner-section .right-area .right-img {
        width: inherit !important;
        max-width: initial;
    }
    #specilizing-section .overlay{
        margin-bottom: -30px;
    }
    #specilizing-section .single-item h2 {
        padding: 0 70px;
    }
    #specilizing-section .single-item {
        margin-bottom: 30px;
    }
    #banner-section.inner-banner.product-single {
        padding-bottom: 70px;
    }
    #now-your-turn .right-area{
        display: none;
    }
    #now-your-turn .bottom-area {
        margin-top: -200px;
    }
    #now-your-turn .bottom-area .single-item {
        margin-top: 150px;
    }
    #contact-me .contact-info-area .contact-area {
        margin-top: 60px;
    }
    #banner-section.inner-banner.portfolio-details {
        padding-bottom: 45px;
    }
    #banner-section.inner-banner.about {
        padding-bottom: 50px;
    }
    #testimonials.portfolio .section-header,
    #testimonials.about .section-header {
        margin-top: 60px;
    }
    #testimonials .slick-initialized .slick-arrow {
        top: 98%;
    }
    #testimonials .slick-initialized .slick-prev {
        left: calc(50% - 55px);
    }
    #testimonials .slick-initialized .slick-next {
        left: calc(60% - 50px);
    }
    #testimonials .text-area {
        margin: 8% 0 12%;
    }
    #testimonials .slick-active .left-area img {
        margin: auto;
    }
    #all-products .all-slider {
        margin: 35px 0 70px;
    }
    #footer-section .overlay {
        margin: 0 2%;
    }
    #banner-section .right-area .right-img {
        max-width: 100%;
    }
    #latest-project .single-item .right-area{
        margin-top: 30px;
    }
    #latest-project .single-item .right-area.mid{
        margin-top: 0;
        margin-bottom: 30px;
    }
    #banner-section {
        padding-top: 200px;
    }
    #banner-section.inner-banner {
        padding-bottom: 70px;
    }
    #banner-bottom .left-area {
        transform: translateY(0px);
        width: 80%;
        margin: 50px auto -40px;
    }
    #banner-bottom {
        height: inherit;
        padding-bottom: 50px;
    }
    #my-story-section .right-area .user {
        transform: translate(-95px, 67px);
        width: 50%;
    }
    #my-story-section .right-area .img-area::after {
        transform: translate(-20px, 45px);
    }
    #product-items.products-single .section-header .title,
    #all-products .left-side .title {
        font-size: 40px !important;
        line-height: 50px !important;
        margin-bottom: 15px;
    }
    #professional-skills .slick-initialized .slick-prev {
        left: calc(88% - 60px);
    }
    #now-your-turn.about .top-area {
        margin-top: -255px;
    }
    #now-your-turn.about .bottom-area {
        margin-top: -165px;
    }
    #banner-section.inner-banner.portfolio {
        padding-top: 200px;
    }
    #banner-section.inner-banner.portfolio .banner-content .text-area h1 {
        display: flex;
        justify-content: center;
    }
    #latest-project.portfolio .overlay .nav-tabs .nav-item {
        margin: 10px 10px;
    }
    #banner-bottom.portfolio form .subscribe button {
        font-size: 14px;
        padding: 0 23px;
    }
    #banner-bottom.portfolio-details .single-item::after {
        right: -15px;
    }
    #project-details .main-content .project-carousel {
        margin-top: 0;
    }
    .pagination {
        margin-top: -20px;
    }
    #banner-section.product .main-content .right-item button {
        padding: 0 15px;
    }
    input, textarea {
        padding: 10px 10px;
    }
    #product-items {
        padding-top: 60px;
    }
    .navbar-collapse .main-menu li a {
        padding: 10px 8px;
    }
    #banner-section.product-single .banner-content .text-area h1 {
        margin-bottom: 0;
    }
    #banner-product-bottom.product-single .left-area{
        margin-bottom: 40px;
    }
    #product-items.products-single .section-header a {
        width: 105px;
    }
    #product-items.products-single .single-item {
        margin-bottom: 45px;
    }
    #product-items.products-single {
        margin-bottom: -45px;
    }
    #banner-section.inner-banner.cart .text-area {
        margin-bottom: -30px;
    }
    #cart-products .qtySelector .qtyValue {
        width: 38px;
    }
    #cart-products .table-responsive {
        padding: 33px 25px 0;
    }
    #cart-products .coupon-cart input {
        padding: 10px 30px;
    }
    #cart-products.cart .cart-bottom h1 {
        margin-bottom: 24px;
    }
    #cart-products .table thead tr th {
        padding: 0 50px;
    }
    #banner-section.cart .breadcrumb-item+.breadcrumb-item {
        margin-top: 0;
    }
    #banner-section.cart .breadcrumb {
        padding-left: 0;
    }
    #blog-content .nav-top-area .nav-tabs .nav-link {
        padding: 10px 8px;
    }
    #blog-content .nav-top-area {
        padding: 40px 10px;
        margin-bottom: 40px;
    }
    #blog-content .right-area {
        margin-top: 60px;
    }
    #blog-content .view-product .text-area h1 {
        margin: 60px 0;
    }
    #blog-content .nav-top-area .nav-tabs .nav-link {
        padding: 10px 30px;
        margin: 10px 10px;
    }
    #blog-content .nav-top-area .nav-tabs {
        justify-content: center !important;
    }
    #blog-content .tab-content .single-item.flex-item {
        display: grid;
    }
    #single-blog.blog-single .top-img {
        margin-top: 0;
    }
    #banner-section.blog-single .date-area {
        margin-bottom: 40px;
    }
    #banner-section.inner-banner {
        padding-bottom: 150px;
    }
    #single-blog.blog-single .top-img {
        margin-bottom: 35px;
    }
    #single-blog .single-step {
        margin-bottom: 30px;
    }
    #single-blog .quote-step {
        padding: 60px 50px;
    }
    #latest-articles .section-header {
        margin-bottom: 30px;
    }
    #latest-articles .section-header .title {
        font-size: 36px;
        line-height: 46px;
    }
    #single-blog .about-me{
        display: grid !important;
        text-align: center;
    }
    #single-blog .about-me .section-header {
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 0;
    }
    #single-blog .about-me .social-area .social{
        justify-content: center;
    }
    #single-blog .about-me .social-area h4 {
        margin-right: 0;
    }
    #latest-articles.blog-single .section-header .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 0;
        padding: 0;
    }
    #latest-articles .single-item .image-area img {
        width: 100%;
        height: fit-content;
    }
    #latest-articles .single-item .text-item {
        padding: 0 10px 20px;
    }
    #latest-articles .social-area .social a {
        margin: 0 10px;
    }
    #banner-section.inner-banner.blog {
        padding-bottom: 75px;
    }
    #pricing-section .single-plan {
        margin-bottom: 30px;
    }
    #pricing-section .m-cus {
        margin-bottom: -30px;
    }
    #advantages-block .m-cus{
        margin-bottom: -30px;
    }
    #advantages-block .single-item{
        margin-bottom: 30px;
    }
    #contact-me .form-area .textarea-area textarea {
        padding: 10px 30px;
    }
    #banner-section.inner-banner.contact .text-area {
        margin-bottom: 10px;
    }
    #advantages-block .single-item h4 {
        margin: 15px 0;
    }
    #advantages-block .single-item img {
        width: 100px;
    }
    #contact-me .contact-info{
        display: grid;
    }
}

@media (max-width: 767px) {
    .section-header{
        margin-bottom: 40px;
    }
    .sub-title,
    .sub-title-alt{
        font-size: 16px;
    }
    #banner-section .text-area h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .title{
        font-size: 40px;
        padding: 10px 0 13px 0;
    }
    .area-title{
        font-size: 16px;
    }
    .justify-cen{
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .right-btn {
        right: 25%;
    }
    .navbar-light .navbar-toggler {
        padding-right: 16%;
    }
    #banner-section {
        padding-top: 130px;
    }
    #footer-section .footer-bottom .main-content .left-area p a {
        font-size: 14px;
        line-height: 24px;
    }
    a {
        font-size: 14px;
        line-height: 24px;
    }
    #footer-section .bottom-area ul li {
        margin-left: 30px;
    }
    #footer-section .overlay .section-header .cmn-btn {
        margin-top: 0;
    }
    #faq-section .overlay .card-header .btn-link {
        font-size: 18px;
        line-height: 28px;
    }
    #faq-section .overlay .collapsing .card-body,
    #faq-section .overlay .collapse .card-body{
        font-size: 16px;
        line-height: 26px;
    }
    #my-story-section .social-area {
        display: none;
    }
    #banner-section {
        background-size: 150% 100%;
    }
    #professional-skills{
        margin-top: 610px;
    }
    #professional-skills .slick-initialized .slick-arrow{
        display: none !important;
    }
    #my-story-section .right-area .user {
        transform: translate(-120px, 77px);
        width: initial;
    }
    #banner-section.inner-banner .banner-content .text-area h1 {
        font-size: 45px;
        line-height: 55px;
    }
    #banner-bottom .left-area .download {
        transform: translateY(-85px);
    }
    #banner-bottom .left-area .download {
        font-size: 18px;
        padding: 8px 20px;
        line-height: 28px;
        transform: translateY(-85px);
    }
    #past-experience .single-item {
        border-radius: 20px;
        padding: 30px;
        margin: 15px 0;
    }
    #now-your-turn.about .top-area h1 {
        font-size: 24px;
        line-height: 34px;
    }
    #now-your-turn.about .top-area {
        margin-top: -210px;
        width: 300px;
        height: 300px;
        padding: 0 30px;
    }
    #past-experience .scroll-line::after,
    #past-experience .scroll-line::before {
        top: calc(30% - 100px);
    }
    #footer-section .footer-bottom .main-content .left-area p{
        text-align: center;
        margin-bottom: 15px;
    }
    #banner-bottom.portfolio .left-icon{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    #now-your-turn.portfolio {
        margin-top: 150px;
    }
    #contact-me .contact-info-area .contact-area {
        padding: 20px;
    }
    #banner-section.inner-banner.portfolio-details {
        padding-bottom: 30px;
    }
    #banner-section.portfolio-details .right-side {
        margin-top: 45px;
    }
    #banner-bottom.portfolio-details .items {
        margin: 0;
        display: grid !important;
        justify-content: inherit !important;
        text-align: center;
    }
    #banner-bottom.portfolio-details .single-item {
        margin-bottom: 40px;
    }
    #banner-bottom.portfolio-details .single-item:last-child {
        margin-bottom: 0;
    }
    #banner-bottom.portfolio-details .single-item::after {
        display: none;
    }
    #project-details .main-content img {
        margin-bottom: 30px;
    }
    #project-details .main-content .project-carousel h1 {
        margin-bottom: 26px;
        font-size: 26px;
        line-height: 34px;
    }
    #banner-section.product .banner-content .text-area h1 {
        margin-bottom: 45px;
    }
    #banner-section.product .main-content .right-item{
        margin-top: 35px;
    }
    #banner-section.product .main-content {
        margin-bottom: -110px;
    }
    #product-items {
        padding-top: 100px;
    }
    #all-products .left-side .title {
        font-size: 40px;
        line-height: 50px;
    }
    #product-items.products-single .section-header .title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 0;
        padding: 0;
    }
    #all-products .left-side .title {
        margin-bottom: -25px;
    }
    #product-items .single-item .text-area h1 {
        margin: 45px 0 10px 0;
    }
    #all-products .left-side .highlights .items {
        column-count: 1;
    }
    #cart-products .coupon-cart .cart {
        width: 140px;
    }
    #cart-products .coupon-cart form .cmn-btn {
        width: 130px;
        padding: 11px 0;
        text-align: center;
    }
    #cart-products .coupon-cart input {
        padding: 10px 20px;
    }
    #blog-content .tab-content .single-item .image-area {
        text-align: center;
    }
    #blog-content .tab-content .single-item .text-item {
        padding: 15px 0;
    }
    #banner-section .banner-content .social {
        bottom: 30%;
    }
    #banner-section .banner-content .single-icon {
        width: 40px;
        height: 40px;
        margin: 20px 0;
    }
}

@media (max-width: 576px) {
    h1{
        font-size: 24px;
        line-height: 34px;
    }
    h2{
        font-size: 20px;
        line-height: 30px;
    }
    h3,h3>a{
        font-size: 16px;
        line-height: 26px;
    }
    h5,h5>a{
        font-size: 15px;
        line-height: 25px;
    }
    p,span,li{
        font-size: 15px;
        line-height: 25px;
    }
    input,textarea{
        font-size: 14px;
        line-height: 24px;
    }
    .title{
        font-size: 30px;
        line-height: 40px;
    }
    .justify-cen{
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .justify-start{
        -ms-flex-pack: start!important;
        justify-content: start!important;
    }
    .navbar-light .navbar-toggler {
        padding-right: 5%;
    }
    .section-title {
        font-size: 26px;
    }
    .header-area {
        padding: 15px;
    }
    .sub-title {
        margin-bottom: 0;
    }
    .title {
        margin-bottom: 5px;
    }
    #banner-section .banner-content .single-icon {
        width: 35px;
        height: 35px;
        margin: 20px 0;
    }
    #banner-section .banner-content .single-icon img {
        max-width: 60%;
    }
    #banner-section .banner-content .social {
        bottom: 15%;
    }
    #banner-section .right-area .download {
        font-size: 16px;
        padding: 5px 20px;
        transform: translateY(-90px);
    }
    #banner-section .text-area h2 {
        font-size: 40px;
        line-height: 50px;
    }
    #footer-section .bottom-area ul li {
        margin: 20px 6px 0;
    }
    #testimonials .slick-initialized .slick-next {
        left: calc(70% - 50px);
    }
    #testimonials .slick-initialized .slick-prev {
        left: calc(45% - 55px);
    }
    #testimonials .text-area {
        margin: 8% 0 18%;
    }
    #faq-section .overlay .card-header .btn-link {
        font-size: 16px;
        line-height: 26px;
    }
    .cmn-btn {
        font-size: 12px;
        line-height: 22px;
    }
    #banner-section .text-area .btn-area .cmn-btn {
        margin-right: 15px;
    }
    #product-items.products-single .section-header .title, #all-products .left-side .title {
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .btn-icon {
        width: 30px;
    }
    .cmn-btn-second:hover .btn-icon {
        width: 40px;
    }
    #specilizing-section .single-item h2 {
        padding: 0 50px;
    }
    #all-products .all-slider {
        margin: 35px 0 50px;
    }
    #now-your-turn .bottom-area .single-item span {
        font-size: 60px;
    }
    #now-your-turn .bottom-area .single-item {
        padding: 50px 0 50px;
    }
    #banner-section.inner-banner .social-area {
        justify-content: center !important;
        margin-top: 20px;
    }
    #features-table .table {
        width: 147%;
    }
    #past-experience .scroll-line .row{
        display: flex;
        justify-content: center;
    }
    #past-experience .scroll-line .left-point-none,
    #past-experience .left-point,
    #past-experience .scroll-line::after,
    #past-experience .scroll-line::before{
        display: none !important;
    }
    #banner-section.inner-banner.portfolio-details .banner-content .text-area{
        text-align: center;
    }
    #banner-section.product .main-content .left-item .nice-select {
        margin: 0 30px;
    }
    #all-products .tag-list .tag-item a {
        padding: 10px 10px;
    }
    #contact-me .contact-info-area .contact-area {
        border-radius: 50px;
    }
    #blog-content .tab-content .single-item .image-area .blog-item {
        width: 100%;
    }
    #single-blog .quote-step h3 {
        font-size: 20px;
        line-height: 30px;
    }
    #single-blog .quote-step {
        padding: 30px 20px;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 20px;
        line-height: 30px;
    }
    #professional-skills {
        margin-top: 125%;
    }
    #my-story-section .right-area .user {
        transform: translate(-122px, 91px);
        width: 50%;
    }
    #my-story-section .right-area .img-area {
        left: 5%;
    }
    #banner-bottom .left-area {
        width: 90%;
    }
    #banner-section.inner-banner .banner-content .text-area h1 {
        font-size: 30px;
        line-height: 40px;
    }
    #banner-section.inner-banner .banner-content .social-area h3 {
        margin-bottom: 0;
        margin-top: 15px;
    }
    #banner-section.inner-banner .banner-content .single-icon {
        margin: 20px 0 15px 15px;
    }
    #now-your-turn.about .top-area {
        margin-top: -180px;
        width: 260px;
        height: 260px;
        padding: 0 30px;
    }
    #banner-section .text-area .cmn-btn {
        padding: 12px 18px;
    }
    #banner-section.product .main-content .left-item .nice-select {
        margin: 0 5px;
    }
    #banner-product-bottom.product-single .left-area .single-item {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        border-right: none;
        margin-bottom: 25px;
    }
    #banner-product-bottom.product-single .right-area{
        display: grid !important;
        margin-bottom: 30px;
    }
    #banner-product-bottom.product-single .right-area .single-item {
        margin-bottom: 25px;
        justify-content: center;
    }
    #all-products .tag-list .tag-item {
        display: grid !important;
    }
    #all-products .tag-list .tag-item a {
        text-align: center;
        margin-bottom: 15px;
    }
    #all-products .left-side .title {
        font-size: 28px;
        line-height: 38px;
    }
    #product-items.products-single .section-header .title {
        font-size: 30px;
        line-height: 40px;
    }
    #product-items.products-single .section-header a {
        width: 100px;
    }
    #banner-section.blog-single .date-area {
        margin-bottom: 20px;
    }
    #cart-products .coupon-cart{
        display: grid !important;
    }
    #cart-products .coupon-cart form input {
        width: 140px;
    }
    #cart-products .coupon-cart form .input-area {
        margin-right: 15px;
    }
    #cart-products .coupon-cart {
        margin-top: 20px;
    }
    #cart-products .cart-bottom h3 .left-side {
        width: 35%;
    }
    #cart-products .table-responsive {
        padding: 25px 0 0;
    }
    #cart-products .coupon-cart {
        margin-left: 0;
    }
    #features-table .table {
        width: 215%;
    }
    #blog-content .view-product .text-area h1 {
        margin: 10px 0;
    }
    #single-blog.blog-single .social-area .social a {
        margin: 0 10px;
    }
    #banner-section.inner-banner .social-area {
        display: grid !important;
    }
    #banner-section.inner-banner .banner-content .social-area h3 {
        margin-bottom: 20px;
    }
    #single-blog.blog-single .top-img img {
        padding: 5px;
    }
    #single-blog.blog-single .top-img .icon-area img{
        width: 45px;
    }
    #single-blog.blog-single .top-img .icon-area {
        right: 20px;
        width: 60px;
        height: 60px;
    }
    #single-blog .single-step h1 {
        font-size: 24px;
        line-height: 34px;
    }
    #single-blog .quote-step {
        padding: 20px 5px;
    }
    #single-blog .about-me {
        padding: 30px 0;
    }
    #latest-articles.blog-single .section-header .title {
        font-size: 30px;
        line-height: 40px;
    }
    #latest-articles .section-header a {
        width: 80px;
    }
    #contact-me .offset-1{
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    #my-story-section .right-area .user {
        transform: translate(-79px, 60px);
    }
    #testimonials .slick-active .left-area img {
        transform: translate(-15px, -45px);
    }
}