
@media (max-width: 991px) {
    .section-title{
        font-size: 40px;
    }
}
@media (max-width: 575px) {
    .sub-title,
    .sub-title-alt{
        font-size: 12px;
    }
}
.section-title span{
    color: #007bff;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
}
.shadow-none {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mb-30-none{
    margin-bottom: -30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.pt-120 {
    padding-top: 120px;
}
@media (max-width: 991px) {
    .pt-120 {
        padding-top: 60px;
    }
}
@media (max-width: 575px) {
    .pt-120 {
        padding-top: 50px;
    }
}
.pb-120 {
    padding-bottom: 120px;
}
@media (max-width: 991px) {
    .pb-120 {
        padding-bottom: 60px;
    }
}
@media (max-width: 575px) {
    .pb-120 {
        padding-bottom: 50px;
    }
}
body::-webkit-scrollbar {
    width: 4px;
}
body::-webkit-scrollbar-track {
    background: transparent; 
}
body::-webkit-scrollbar-thumb {
    background: #3a395e; 
}
body::-webkit-scrollbar-thumb:hover {
    background: #3a395e; 
}
@media (max-width: 991px) {
    .header-section .header-top {
        display: block;
    }
}
@media (max-width: 991px) {
    .navbar-collapse {
        max-height: 320px;
        overflow: auto;
    }
}
.navbar-collapse .main-menu .menu_has_children.show .sub-menu {
    display: grid;
}
@media (max-width: 991px) {
    .menu_has_children .sub-menu {
        display: none !important;
    }
    .menu_has_children .sub-menu li {
        width: 100% ;
    }
    .navbar-collapse .main-menu .menu_has_children.show .sub-menu {
        display: inline-flex !important;
        flex-wrap: wrap;
        margin-left: 20px;
    }
}
.navbar-collapse .main-menu li:last-child .sub-menu {
    left: auto;
    right: 0;
}
.navbar-collapse .main-menu .cart span{
    background-color: rgba(183, 165, 255, 0.2);
    color: #fff;
    padding: 0 20px;
    border-radius: 15px;
    margin-left: 5px;
}
.navbar-collapse .main-menu .cart-area {
    top: 40px;
}
.navbar-collapse .main-menu .cart-area button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    font-weight: 500;
}
.navbar-collapse .main-menu li {
    position: relative;
}
.navbar-collapse .main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.navbar-collapse .main-menu li.menu_has_children {
    position: relative;
}
.navbar-collapse .main-menu li.menu_has_children i {
    font-size: 18px;
    margin-left: 5px;
}
@media (max-width: 991px) {
    .navbar-collapse .main-menu li.menu_has_children::before {
        top: 12px;
       right: 15px;
    }
}
.navbar-collapse .main-menu li a {
    padding: 40px 25px;
    font-weight: 800;
    font-family: var(--body-font);
    font-size: 18px;
    text-transform: capitalize;
}
@media (max-width: 991px) {
    .navbar-collapse .main-menu li a {
        padding: 10px 8px;
        display: block;
    }
    .navbar-expand-lg {
        float: right;
        width: 100%;
    }
}
.navbar-collapse .main-menu li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 9;
}
.navbar-collapse .main-menu li .sub-menu li a {
    color: rgb(59, 54, 140) !important;
    padding: 15px 20px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.navbar-collapse .main-menu li .sub-menu li a:hover {
    color: var(--body-color) !important;
    border-radius: 0 !important;
}
.nav-area{
    display: contents;
    justify-content: space-between;
    z-index: 100;
}
@media (max-width: 991px) {
    .navbar-collapse .main-menu li .sub-menu {
        position: initial;
        opacity: 1;
        visibility: visible;
        display: none;
        -webkit-transition: none;
        transition: none;
    }
}
.menu-toggle {
    margin: 15px 0;
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.menu-toggle.is-active {
    border-color: transparent;
}
.menu-toggle::before, .menu-toggle::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition:  0.25s ease-in-out;
    -webkit-transition:  0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out,  0.25s ease-in-out;
}
.menu-toggle.is-active::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu-toggle.is-active::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}
.navbar-toggler {
    padding-right: 0;
    display: none;
}
.toggle-btn{
    padding: 8px 12px;
    background-color:#007bff;
    color:#ffffff;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
}
.header-section .header-bottom {
    padding: 10px 10px;
}
@media (max-width: 991px) {
    .navbar-toggler{
        display: inline-flex;
        justify-content: flex-end;
    }
    .navbar-light .navbar-toggler {
        position: absolute;
        right: 14%;
        margin-top: 5px;
        border: none;
    }
    #header-section .right-area {
        position: absolute;
        right: 20%;
        top: 20px;
    }
    .header-area{
        position: relative;
        padding: 15px 0;
    }
    #header-section .navbar .navbar-brand img{
        max-width: initial;
    }
    #header-section .navbar .navbar-brand {
        margin-top: -5px;
        width: 35%;
    }
    .navbar-collapse .main-menu {
        padding-top: 30px;
    }
    #header-section .navbar .navbar-bottom{
        padding: 20px 0;
    }
    #header-section .navbar .navbar-top {
        justify-content: center !important;
    }
    #header-section {
        background-color: #5c2cc5 !important;
    }
    #header-section .overlay .navbar-toggler i{
        color:rgb(255, 255, 255);
    }
    #header-section .navbar .navbar-nav .menu_has_children::after {
        transform: translateX(70px);
        left: 15px;
    }
    
}
@media (max-width: 800px) {
    .navbar-light .navbar-toggler {
        right: 4%;
    }
}
@media (max-width: 440px) {
    #header-section .navbar .navbar-top .language-select-list img{
        display: none;
    }
    #header-section .navbar .navbar-top a {
        margin: 0 6px !important;
        font-size: 12px;
    }
    #header-section .navbar .navbar-top .language-select-list {
        margin: 0 !important;
    }
    #header-section .navbar .nice-select .option,
    #header-section .navbar .nice-select.select-bar .current{
        font-size: 12px;
    }
    #header-section .navbar .navbar-brand img {
        max-width: initial;
        width: 115px;
    }
    .navbar-light .navbar-toggler{
        margin-top: 0;
    }
    #header-section .navbar .navbar-collapse .navbar-nav {
        padding-right: 0;
    }
}
.scrollToTop {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(45deg, rgb(247,112,98) 0%, rgb(254,81,150) 100%);
    border-radius: 5px;
    color: #fff;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    z-index: 9;
    cursor: pointer;
    transition: all 1s;
    transform: translateY(100%);
}
.scrollToTop.active {
    bottom: 30px;
    transform: translateY(0%);
    color: #fff;
}
.scrollToTop:hover{
    color: #fff;
}

  #header-section.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #5c2cc5;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 30%);
    }
  
    #header-section.header-fixed .header-top,
    #header-section.header-fixed .header-middle {
        display: none !important;
    }
    #header-section.header-fixed .header-bottom {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    }
    #header-section .header-top {
        padding: 20px 0;
    }


/* cmn btn */
.cmn-btn {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    background-image: linear-gradient( 45deg, rgb(247,112,98) 0%, rgb(254,81,150) 100%);
    border-radius: 50px;
    padding: 12px 30px;
    z-index: 1;
    overflow: hidden;
    transition: 0.35s ease;
}
.cmn-btn:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 26px 38px 0px rgba(254, 81, 149, 0.3);
    background-image: linear-gradient( 45deg, rgb(254,81,150) 0%, rgb(247,112,98) 100%);
}

/* cmn btn second */
.btn-icon {
    position: relative;
    content: '';
    background-color: white;
    top: -5px;
    left: 5px;
    height: 1px;
    width: 40px;
    display: inline-block;
    transition: all 0.7s;
}
.btn-icon::before{
    position: absolute;
    content: '';
    top: -4px;
    width: 10px;
    height: 10px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: white;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    right: 2px;
    transition: all ease 0.3s;
}
.cmn-btn-second:hover .btn-icon::before{
    border-color: #ea43ad;
}
.cmn-btn-second{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.cmn-btn-second:hover .btn-icon {
    width: 60px;
    background-color: #ea43ad;
}


/* Responsiveness  Area */

@media (min-width: 991px) and (max-width: 1449.98px) {
    #banner-section .right-area .right-img {
        width: 100% !important;
    }
    #banner-section .text-right {
        text-align: center !important;
    }
    #now-your-turn .right-area {
        right: 0;
    }
    #footer-section .overlay{
        margin: 0 2%;
    }
    .header-area {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
    }
}
@media (min-width: 992px) {
    #header-section .navbar .navbar-nav li .cart-menu button {
        right: -25px;
    }
}

@media (min-width: 1449px) {
    #banner-bottom .left-area {
        transform: translateY(-350px);
    }
}

@media (min-width: 1200px) and (max-width: 1324.98px) { 
    #banner-bottom .left-area {
        transform: translateY(-200px);
    }
    #now-your-turn .right-area {
        right: -2%;
        top: -5%;
    }
}

@media(max-width: 1199px) {
    h2{
        font-size: 24px;
        line-height: 34px;
    }
    h3{
        font-size: 18px;
        line-height: 28px;
    }
    #specilizing-section .single-item {
        padding: 40px 18px 47px;
    }
    #now-your-turn .right-area {
        right: -14%;
        top: 20%;
    }
    #now-your-turn .right-area img{
        max-width: 80%;
    }    
}

@media (max-width: 991px) {
    h1, h1>a {
        font-size: 26px;
        line-height: 36px;
    }
    h2{
        font-size: 22px;
        line-height: 32px;
    }
    h3{
        font-size: 18px;
        line-height: 28px;
    }
    p,span,li{
        font-size: 16px;
        line-height: 26px;
    }
    input,textarea{
        font-size: 16px;
        line-height: 26px;
    }
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .navbar-collapse .main-menu .cart-area {
        top: 0;
    }
    #header-section .navbar .navbar-nav .dropdown{
        display: grid;
    }
    #banner-section .right-area {
        margin-top: 30px;
    }
    #banner-section .text-area h2 {
        font-size: 60px;
        line-height: 70px;
    }
    #banner-section .banner-content .text-right {
        text-align: center !important;
    }
    .cmn-btn{
        font-size: 14px;
        line-height: 24px;
    }
    .cmn-btn-second {
        font-size: 14px;
        line-height: 24px;
    }
    #header-section .navbar .navbar-nav .cart-area .cart-menu.show {
        left: 0;
        transform: translateY(0px);
    }
    #banner-section .banner-content .main-content .item{
        display: none;
    }
    .navbar-collapse .main-menu .cart-area button {
        margin: 5px 0;
    }
    #banner-section.inner-banner.cart{
        padding-bottom: 70px !important;
    }
    #banner-section .text-area h3 {
        font-size: 18px;
        line-height: 28px;
    }
    #banner-section .right-area .right-img {
        width: inherit !important;
        max-width: initial;
    }
    #specilizing-section .overlay{
        margin-bottom: -30px;
    }
    #specilizing-section .single-item h2 {
        padding: 0 70px;
    }
    #specilizing-section .single-item {
        margin-bottom: 30px;
    }
   
    #now-your-turn .right-area{
        display: none;
    }
    #now-your-turn .bottom-area {
        margin-top: -200px;
    }
    #now-your-turn .bottom-area .single-item {
        margin-top: 150px;
    }
    
    #testimonials.portfolio .section-header,
    #testimonials.about .section-header {
        margin-top: 60px;
    }
    #testimonials .slick-initialized .slick-arrow {
        top: 98%;
    }
    #testimonials .slick-initialized .slick-prev {
        left: calc(50% - 55px);
    }
    #testimonials .slick-initialized .slick-next {
        left: calc(60% - 50px);
    }
    #testimonials .text-area {
        margin: 8% 0 12%;
    }
    #testimonials .slick-active .left-area img {
        margin: auto;
    }
    #all-products .all-slider {
        margin: 35px 0 70px;
    }
    #footer-section .overlay {
        margin: 0 2%;
    }
    #banner-section .right-area .right-img {
        max-width: 100%;
    }
    #latest-project .single-item .right-area{
        margin-top: 30px;
    }
    #latest-project .single-item .right-area.mid{
        margin-top: 0;
        margin-bottom: 30px;
    }
    
  
}

@media (max-width: 767px) {
    .section-header{
        margin-bottom: 40px;
    }
    .sub-title,
    .sub-title-alt{
        font-size: 16px;
    }
    #banner-section .text-area h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .title{
        font-size: 40px;
        padding: 10px 0 13px 0;
    }
    .area-title{
        font-size: 16px;
    }
    .justify-cen{
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .right-btn {
        right: 25%;
    }
    .navbar-light .navbar-toggler {
        padding-right: 16%;
    }
    #banner-section {
        padding-top: 130px;
    }
    #footer-section .footer-bottom .main-content .left-area p a {
        font-size: 14px;
        line-height: 24px;
    }
    a {
        font-size: 14px;
        line-height: 24px;
    }
    #footer-section .bottom-area ul li {
        margin-left: 30px;
    }
    #footer-section .overlay .section-header .cmn-btn {
        margin-top: 0;
    }
    #faq-section .overlay .card-header .btn-link {
        font-size: 18px;
        line-height: 28px;
    }
    #faq-section .overlay .collapsing .card-body,
    #faq-section .overlay .collapse .card-body{
        font-size: 16px;
        line-height: 26px;
    }
    #banner-section {
        background-size: 150% 100%;
    }
    #banner-bottom .left-area .download {
        transform: translateY(-85px);
    }
    #banner-bottom .left-area .download {
        font-size: 18px;
        padding: 8px 20px;
        line-height: 28px;
        transform: translateY(-85px);
    }
 
}

@media (max-width: 576px) {
    h1{
        font-size: 24px;
        line-height: 34px;
    }
    h2{
        font-size: 20px;
        line-height: 30px;
    }
    h3,h3>a{
        font-size: 16px;
        line-height: 26px;
    }
    h5,h5>a{
        font-size: 15px;
        line-height: 25px;
    }
    p,span,li{
        font-size: 15px;
        line-height: 25px;
    }
    input,textarea{
        font-size: 14px;
        line-height: 24px;
    }
    .title{
        font-size: 30px;
        line-height: 40px;
    }
    .justify-cen{
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .justify-start{
        -ms-flex-pack: start!important;
        justify-content: start!important;
    }
    .navbar-light .navbar-toggler {
        padding-right: 5%;
    }
    .section-title {
        font-size: 26px;
    }
    .header-area {
        padding: 15px;
    }
    .sub-title {
        margin-bottom: 0;
    }
    .title {
        margin-bottom: 5px;
    }
    #banner-section .banner-content .single-icon {
        width: 35px;
        height: 35px;
        margin: 20px 0;
    }
    #banner-section .banner-content .single-icon img {
        max-width: 60%;
    }
    #banner-section .banner-content .social {
        bottom: 15%;
    }
    #banner-section .right-area .download {
        font-size: 16px;
        padding: 5px 20px;
        transform: translateY(-90px);
    }
    #banner-section .text-area h2 {
        font-size: 40px;
        line-height: 50px;
    }
    #footer-section .bottom-area ul li {
        margin: 20px 6px 0;
    }
    #testimonials .slick-initialized .slick-next {
        left: calc(70% - 50px);
    }
    #testimonials .slick-initialized .slick-prev {
        left: calc(45% - 55px);
    }
    #testimonials .text-area {
        margin: 8% 0 18%;
    }
    #faq-section .overlay .card-header .btn-link {
        font-size: 16px;
        line-height: 26px;
    }
    .cmn-btn {
        font-size: 12px;
        line-height: 22px;
    }
    #banner-section .text-area .btn-area .cmn-btn {
        margin-right: 15px;
    }
  
    .btn-icon {
        width: 30px;
    }
    .cmn-btn-second:hover .btn-icon {
        width: 40px;
    }
    #specilizing-section .single-item h2 {
        padding: 0 50px;
    }

    #now-your-turn .bottom-area .single-item span {
        font-size: 60px;
    }
    #now-your-turn .bottom-area .single-item {
        padding: 50px 0 50px;
    }
    
}

@media (max-width: 480px) {
    h1{
        font-size: 20px;
        line-height: 30px;
    }
   
}

@media (max-width: 320px) {
    #testimonials .slick-active .left-area img {
        transform: translate(-15px, -45px);
    }
}